$text-color: #181818;

.header {
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
    width: 100vw;
    position: fixed;
    z-index: 999;

    .container {
        max-width: 1120px;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;
        box-sizing: border-box;

        .btn {
            padding: 6px 16px;
            box-sizing: border-box;
            margin: 0px 6px;
            border-radius: 24px;
            cursor: pointer;
            background-color: #000000;
            color: #FFFFFF;
            text-transform: uppercase;

            &:active {
                background-color: rgba(0, 0, 0, 0.3);
            }

        }

        .left {
            cursor: pointer;
        }

        .middle {
            position: relative;


            .search {
                padding: 4px 16px;
                box-sizing: border-box;
                width: 280px;
                border-radius: 24px;
                border: 1.4px solid #000000;
            }

            img {
                position: absolute;
                right: 14px;
                top: 8px;
            }
        }

        .menu {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 16px;

            .item {
                color: $text-color;
                padding: 6px 16px;
                box-sizing: border-box;
                margin: 0px 6px;
                border-radius: 24px;
                cursor: pointer;
                text-decoration: none;

                &:hover {
                    background-color: #000000;
                    color: #FFFFFF;
                    transition-duration: 0.35s;
                }
            }

            .button {
                border: 1px solid $text-color;

                &:active {
                    background-color: rgba(0, 0, 0, 0.3);
                }
            }

            .button1 {
                background-color: #000000;
                color: #FFFFFF;

                &:active {
                    background-color: rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}
