.container {
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 60px;

    .login {
        max-width: 420px;
        min-height: 200px;
        margin: 0 auto;
        padding: 40px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-sizing: border-box;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
        border-radius: 8px;

        .top {
            display: flex;
            align-items: center;

            .title {
                padding-left: 20px;
                font-size: 24px;
            }
        }

        .form {
            margin: 0 auto;
            margin-top: 50px;
            text-align: center;

            .forgot {
                margin-top: -20px;
                margin-bottom: 30px;
                text-align: right;
                font-size: 12px;
                font-weight: 600;
                cursor: pointer;
            }

            .button {
                width: 100%;
                padding: 8px 0px;
                box-sizing: border-box;
                text-align: center;
                color: #FFFFFF;
                background-color: #000000;
                border-radius: 4px;
                cursor: pointer;
                font-size: 16px;
                font-weight: normal;
                // text-transform: uppercase;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.85);
                    transition-duration: 0.35s;
                }

                &:active {
                    background-color: rgba(0, 0, 0, 0.7);
                    transition-duration: 0.35s;
                }
            }
        }
    }
}

.modalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 30px;

    input {
        width: 100%;
    }

    .title {
        font-size: 18px;
        font-weight: bold;
    }

    .subtitle {
        margin-bottom: 25px;
        font-size: 12px;
    }

    .btn-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 36px;

        .button {
            @extend .button;
            width: 46%;
            padding: 6px 0px;
            box-sizing: border-box;
            text-align: center;
            color: #FFFFFF;
            background-color: #000000;
            border-radius: 8px;
            cursor: pointer;
            font-size: 14px;
            font-weight: normal;
            // text-transform: uppercase;

            &:hover {
                background-color: rgba(0, 0, 0, 0.85);
                transition-duration: 0.35s;
                color: #FFFFFF;
            }

            &:active {
                background-color: rgba(0, 0, 0, 0.7);
                transition-duration: 0.35s;
                color: #FFFFFF;
            }
        }

        .button1 {
            @extend .button;
            color: #000000;
            background-color: #FFFFFF;
            border: 1.2px solid #000000;
        }
    }

}